* {
  overflow-x: hidden;

}

.container {
  position: relative;
  /* margin-left:20%;
margin-right:20%; */
  margin: auto;
  width: 70%;
  margin-top: 2rem;
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.github-profile {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

img {
  width: 75px;
  height: 75px;
}

.info {
  margin: 0.5rem 0 1rem 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}

input {
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.url {
  width: 100%;
  word-break: break-all;
}

.bio {
  word-break: break-all;
}

.line-break {
  display: none;
}

@media(max-width:400px) {
  .container {
    width: 90%;
  }

  img {
    width: 150px;
    height: 150px;
  }

  .info {
    margin: 20px 0 0 0;
  }

  .line-break {
    display: block;
  }
}